
#better-spider-box {
    position: fixed;
    width: 200px;
    height: 400px;
    bottom: 10px;
    right: 20px;
    background-color: pink;
    z-index: 999999999999999999999999;
    border-radius: 5px;
    padding: 10px;
}

.better-spider-highlight{
    background-color:rgb(95, 152, 128);
    /* box-shadow: 3px 6px 8px 2px rgba(0, 0, 255, .2); */
    animation: flash; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

.better-spider-selected{
    background-color: rebeccapurple !important;
    color: white !important;
    animation-name: pulse !important;
    animation-duration: 3s !important;
    animation-iteration-count: infinite !important;
}